{% extends "layout.html" %}

{% block scripts %}
<script>var data = {{data|tojson}}</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'scheduling-landing.js') }}"></script>
{% endblock %}

{% block styling %}
#topDiv {
	margin: 20px;
}
{% endblock %}

{% block content %}

<h1 id="meeting_name" class="text-center text-capitalize"></h1>

<div id="topDiv" class="row">
	<div class="col-6">
		<div class="row">
			If you'd like to add or edit your availability, enter your info below!
		</div>
		<div class="row">
			<form action="{{ url_for('handle_user_info') }}" method="post">
				<div class="form-group row">
					<label class="col-3 col-form-label" for="display_name">Your name:</label>
					<div class="col-6">
						<input type="text" id="display_name" class="form-control" name="display_name" placeholder="Jesse Doe" required>
					</div>
				</div>

				<br>

				<div class="form-group row">
					<label class="col-3 col-form-label" for="email">Your email:</label>
					<div class="col-6">
						<input type="email" id="email" class="form-control" name="email" placeholder="name@example.com" required>
					</div>
				</div>

				<br>

				<!--Value for below is overwritten in the javascript -->
				<input id="meeting_id" type="hidden" name="meeting_id" value="foobar" />

				<button type="submit" class="btn btn-primary row">Submit</button>
			</form>
		</div>
	</div>
	<div class="col-6">
		<div class="row">
			If you would like to see the results, click below!
		</div>
		<div class="row">
			<div class="col-3">
				 <a href="/results/" role="button" class="btn btn-info" id="results_btn">Results</a>
			</div>
		</div>
	</div>
</div>

{% endblock %}