{% extends "layout.html" %}

{% block scripts %}
<script>var data = {{data|tojson}}</script>
<script>var meetingType = {{meetingType|tojson}}</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'constants.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'buildTable.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'scheduling-availability.js') }}"></script>
{% endblock %}

{% block styling %}
.center-text {
	text-align: center;
}
table {
	table-layout: fixed;
	text-align: center;
}
tr, th, td {
	border: solid;
	border-width: 2px 2px;
}
#topDiv {
	margin: 20px;
}
.clickable {
	cursor: pointer;
}
#change_table{
	margin-bottom: 10px;
	margin-left: -10px;
}
#submit_availability{
	margin-top: 10px;
	margin-left: -10px;
}


{% endblock %}

{% block content %}

<h1 id="user_name" class="text-center text-capitalize"></h1>

<div id="topDiv" class="row">
	<!-- <div class="row" id="curr_table_type">
		Current table: In-person availability
	</div> -->
	<!-- <div class="row" id="change_table_div">

		<div class="col-3">
			
			<div class="row"><br></div>

			<div class="row">
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-primary">
						<input type="radio" name="radio" value="green"> Yes </input>
					</label>
					<label class="btn btn-primary">
						<input type="radio" name="radio" value="yellow"> If I have to </input>
					</label>
					<label class="btn btn-primary">
						<input type="radio" name="radio" value="none"> No </input>
					</label>
			</div>
		</div>

	</div> -->
	<!-- For in-person or virtual. NOT BOTH -->
	<!-- <div id="schedule" class="row"></div> -->
	
	<div class="row">
		<!-- In person table -->
		<div id="inPersonSchedule" class="row col-5">
			In-person Availability
		</div>

		<div id="buttonWrapper" class="col-1">
			<!-- Button here -->
			<!-- Cheap hack to make the button in the middle. Probably should be refactored to use CSS instead. -->
			<br><br><br><br><br><br><br><br><br>
			<button type="button" class="btn btn-primary" id="copyToVirtual">Copy In-Person Availability To Virtual Availability</button>
			<br><br>
			<button type="button" class="btn btn-primary" id="copyToInPerson">Copy Virtual Availability To In-Person Availability</button>
		</div>
	
		<!-- Virtual table -->
		<div id="virtualSchedule" class="row col-5">
			Virtual Availability
		</div>
	</div>

	<div class="row">
		<div class="col-3">
			<button type="button" class="btn btn-primary" id="submit_availability">Submit</button>
		</div>
	</div>
</div>

{% endblock %}