{% extends "layout.html" %}

{% block scripts %}
<script type="text/javascript" src="{{ url_for('static', filename = 'setup-landing.js') }}"></script>
{% endblock %}

{% block styling %}
.center-text{
	text-align: center;
}
.checkIt {
	border: 3px solid red;
}
.hideDiv{
	display: none;
}
{% endblock %}

{% block content %}
<h1 class="center-text">Layover Meeting</h1>
<div class="container">
	<form action="{{ url_for('handle_meeting_creation') }}" method="post">
		<div class="form-group row">
			<label class="col-3 col-form-label" for="meeting_name">Meeting name:</label>
			<div class="col-6">
				<input type="text" id="meeting_name" class="form-control" name="meeting_name" required>
			</div>
		</div>

		<br>

		<fieldset class="form-group">
			<div class="row">
				<div class="col-form-label col-3 pt-0">Meeting Type:</div>
				<div class="col-6">
					<div class="form-check">
						<input type="radio" id="in-person" class="form-check-input" name="meeting_type" value="in_person" required>
						<label class="form-check-label" for="in-person">In Person</label>
					</div>

					<div class="form-check">
						<input type="radio" id="remote" class="form-check-input" name="meeting_type" value="remote" required>
						<label class="form-check-label" for="remote">Remote</label>
					</div>

					<div class="form-check">
						<input type="radio" id="either" class="form-check-input" name="meeting_type" value="either" required>
						<label class="form-check-label" for="either">Either</label>
					</div>
				</div>
			</div>
		</fieldset>

		<br>

		<fieldset class="form-group">
			<div class="row">
				<div class="col-form-label col-3 pt-0">Date Type:</div>
				<div class="col-6">
					<div class="form-check">
						<input type="radio" id="general_week" class="form-check-input" name="date_type" value="general_week" required>
						<label class="form-check-label" for="general_week">General Date</label>
					</div>

					<div class="form-check">
						<input type="radio" id="specific_date" class="form-check-input" name="date_type" value="specific_date" required>
						<label class="form-check-label" for="specific_date">Specific Date</label>
					</div>
				</div>
			</div>
		</fieldset>

		<br>

		<div id="start_date_div" class="row form-group hideDiv">
			<label class="col-3 col-form-label" for="start_date">Start Date:</label>
			<div class="col-7">
				<input type="date" id="start_date" class="form-control" name="start_date">
			</div>
		</div>

		<br>

		<div id="end_date_div" class="row form-group hideDiv">
			<label class="col-3 col-form-label" for="end_date">End Date:</label>
			<div class="col-7">
				<input type="date" id="end_date" class="form-control" name="end_date">
			</div>
		</div>

		<button type="submit" class="btn btn-primary row">Submit</button>
	</form>
</div>

{% endblock %}