{% extends "layout.html" %}

{% block scripts %}
<script>var data = {{data|tojson}}</script>
<script>var meeting = {{meeting|tojson}}</script>
<script type="text/javascript" src="{{ url_for('static', filename = 'constants.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'buildTable.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'scheduling-availability.js') }}"></script>
<script>
	// Reformat time displayed in the table
	function reformatTimeDisplay(format){
		allTimeDisplays = $('.timeDisplay')
		// Change everything into 24-hour format
		for (let i = 0; i < allTimeDisplays.length; i++) {
			let currentObj = allTimeDisplays[i]
			let currentObjTime = currentObj.innerHTML
			if (currentObjTime.indexOf(':') != -1) {
				continue
			}
			if (currentObjTime.indexOf('AM') != -1) {
				let hour = Number(currentObjTime.substring(0, currentObjTime.indexOf('AM')))
				if (hour == 12) {
					hour = 0
				}
				currentObjTime = hour.toString() + ':00'

			} else if (currentObjTime.indexOf('PM') != -1) {
				let hour = Number(currentObjTime.substring(0, currentObjTime.indexOf('PM')))
				if (hour != 12) {
					hour += 12
				}
				currentObjTime = hour.toString() + ':00'
			}
			currentObj.innerHTML = currentObjTime
		}

		// Format 24h to 12h if specified
		if (format === '12h') {
			for (let i = 0; i < allTimeDisplays.length; i++) {
				// Same logic as function in buildTable.js
				let currentObj = allTimeDisplays[i]
				let currentObjTime = currentObj.innerHTML
				let hour = Number(currentObjTime.substring(0, currentObjTime.indexOf(':')))
				if (hour < 12) {
					displayTime = hour == 0 ? 12: hour
					meridiem = 'AM'
				} else {
					displayTime = hour == 12 ? 12: hour - 12
					meridiem = 'PM'
				}
				currentObj.innerHTML = displayTime + ' ' + meridiem
			}
		}
	}
</script>
{% endblock %}

{% block styling %}
.center-text {
	text-align: center;
}
table {
	table-layout: fixed;
	text-align: center;
}
th, td {
    width: 12%;
}
td {
    background-clip: padding-box;
}
tr:not(:first-child) td:not(:first-child) {
    border-color: transparent;
    border-width: 2px;
    border-radius: 8px;
}
#topDiv {
	margin: 20px;
}
.clickable {
	cursor: pointer;
}
#change_table{
	margin-bottom: 10px;
	margin-left: -10px;
}
#submit_availability{
	margin-top: 10px;
	margin-left: -10px;
}
.noClick{
	pointer-events: none;
}
img{
	max-width: 100%;
	max-height: 100%;
}
img:hover{
	cursor: pointer;
}
{% endblock %}

{% block content %}

<h1 id="user_name" class="text-center text-capitalize"></h1>

<div id="topDiv" class="row">
	<!-- <div class="row" id="curr_table_type">
		Current table: In-person availability
	</div> -->
	<!-- <div class="row" id="change_table_div">

		<div class="col-3">
			
			<div class="row"><br></div>

			<div class="row">
				<div class="btn-group" data-toggle="buttons">
					<label class="btn btn-primary">
						<input type="radio" name="radio" value="green"> Yes </input>
					</label>
					<label class="btn btn-primary">
						<input type="radio" name="radio" value="yellow"> If I have to </input>
					</label>
					<label class="btn btn-primary">
						<input type="radio" name="radio" value="none"> No </input>
					</label>
			</div>
		</div>

	</div> -->

	<div class="row">
		<div id="timeFormatSelector" class="btn-group col-4" style="padding-left: 0px">
			<label class="btn btn-primary" onclick="reformatTimeDisplay('12h')">
				<input type="radio" name="radio1" checked> 12-hour </input>
			</label>
			<label class="btn btn-primary" onclick="reformatTimeDisplay('24h')">
				<input type="radio" name="radio1"> 24-hour </input>
			</label>
		</div>
		<div class="row col-4"></div>
		<div id="availabilitySelector" class="btn-group col-4" data-toggle="buttons">
			<label class="btn btn-primary">
				<input type="radio" name="radio" value="green"  checked> Yes </input>
			</label>
			<label class="btn btn-primary">
				<input type="radio" name="radio" value="yellow"> If I have to </input>
			</label>
			<label class="btn btn-primary">
				<input type="radio" name="radio" value="none"> No </input>
			</label>
		</div>
	</div>

	<!-- For in-person or virtual. NOT BOTH -->
	<!-- <div id="schedule" class="row"></div> -->
	<div class="row" style="margin-top: 2%;">
		<!-- In person table -->		
		<div class="row col-5"><h6>In-person Availability</h6></div>
		<div class="row col-2"></div>
		<div class="row col-5"><h6>Virtual Availability</h6></div>
	</div>
		
	<div class="row">
		<div id="inPersonSchedule" class="row col-5 ui_box"></div>

		<div id="buttonWrapper" class="col-1 align-self-center">
			<img src="{{url_for('static', filename='img/arrow_r_text.png')}}" id="copyToVirtual"/>
			<br><br>
			<img src="{{url_for('static', filename='img/arrow_l_text.png')}}" id="copyToInPerson"/>
		</div>
	
		<!-- Virtual table -->
		<div id="virtualSchedule" class="row col-5 ui_box"></div>
	</div>


	<div class="row d-flex justify-content-center">
		<button type="submit" class="btn btn-primary col-2" id="submit_availability">Submit</button>
	</div>
</div>

{% endblock %}